
#root {  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: left;
  background-color: var(--background-color);
  border-radius: 8px;
}

.card {
  background-color: #ffffff; /* Fondo blanco para las tarjetas */
  border-radius: 8px; /* Bordes redondeados */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra para las tarjetas */
  padding: 2em;
  margin: 1em 0; /* Espaciado entre tarjetas */
  transition: transform 0.2s; /* Efecto al pasar el mouse */
}
.card:hover {
  transform: scale(1.02); /* Escalar ligeramente al pasar el mouse */
}

h1, h2, h3 {
  margin: 1em 0; /* Espaciado para encabezados */
  color: var(--text-dark--color); /* Color de texto */
}

.title {
  color: var(--text-dark-color) !important;
}
